html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-size:cover;
  background-image: url("img/chat1.jpg");
  background-repeat:no-repeat;

}