html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
   
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-size:cover;
    background-image:url("test2.jpg");
    background-repeat:no-repeat;
   // background-color: lightblue;
    margin: 60px;
    color:black;
      
}